{% load static %}
<div class="card mb-3">
  <h5 class="card-header ">{{ page.title }}<small style="margin-left:5px;font-family: 'Sofia'">@{{ page.author.username }}</small></h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
      {{ page.content|truncatewords_html:30 }}
      <hr>
      
      <div class="text-right">
        {% if page.author == user %}
        <a href="{% url 'blog-update-page' page.slug %}" style="margin-right:10px;">Update</a>
        <a href="{% url 'blog-delete-page' page.slug %}" style="margin-right:10px;">Delete</a>
        {% endif %}
        <a href="{% url 'blog-details-page' page.slug %}" title="Read More">Read More</a>
      </div>
  </div>
  <div class="card-footer">
    <small>Public: {% if page.is_public %}Yes {% else %} No {% endif %}</small>
    <br>
    <small class="text-muted">Last updated {{ page.modified|date:"SHORT_DATETIME_FORMAT" }}PST</small>
  </div>
</div>
