{% extends 'base.html' %}

{% block title %}
<style>

    .new_blog {
        display: flex;
        flex-direction: column;
    }
    .new_blog button {
        width:75px;
        border-radius: 12px;
        background-color: rgba(146, 221, 250, 0.925);
    }
</style>
{% endblock %}

{% block content %}
    <form class="new_blog" method="POST">
        {% csrf_token %}
        {% if message %}
        <p>{{message}}</p>
        {% endif %}
        <label >
            Title: 
            {{form.title}}
        </label>
        <label >
            Content: 
            {{form.content}}
        </label>
        <label >
            Public: 
            {{form.is_public}}
        </label>
        <!-- {{ form.as_p}} -->
        <button type="submit">Save</button>
    </form>

{% endblock %}