{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col m-4">
      <h3>{{ page.title }} <small class="text-muted">Last updated {{ page.modified|date:"SHORT_DATETIME_FORMAT" }} PST.</small></h3>
      <hr>
      <p>{{ page.content|linebreaksbr }}</p>
      <hr>
      {% if page.author == user%}
      <a href="{% url 'blog-update-page' page.slug %}" style="margin-right:10px;">Update</a>
      <a href="{% url 'blog-delete-page' page.slug %}" style="margin-right:10px;">Delete</a>
      {% endif %}
      <a href="{% url 'blog-list-page' %}">Back to List</a>
    </div>
  </div>
{% endblock %}
